<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-icon name="menu" menuToggle></ion-icon>&nbsp;
        Graph
    </ion-title>
  </ion-navbar>
</ion-header>

<style>
    chart{
        height:200px;
    }
</style>
<ion-content>
    <ion-card>
        <ion-list>
            <ion-item>
                <ion-label>Workout</ion-label>
                <ion-select [(ngModel)]="workout" (ionChange)='srchGraph($event)' interface="popover">
                    <ion-option *ngFor='let w of allWorkouts' [value]="w.id">{{w.name}}</ion-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-card>
    <div *ngIf='!workout' style='text-align:center;'>
        <br><br>Plase Select Workout
    </div>
    <ion-list>
        <ion-item *ngIf='workout' padding>
            <div style='overflow-x:auto;margin-bottom:50px;' *ngFor='let obj of graphArr'>
                <chart 
                    [type]="obj.type" 
                    [data]="obj.data" 
                    [options]="obj.options" 
                    [style.width]='obj.width'
                    style='margin-bottom:50px;min-width:90vw;'></chart>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
