<ion-header>
  <ion-navbar>
    <ion-title>{{date | date:'fullDate'}}</ion-title>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div style='text-align:center;font-size: 50px;'>
          {{dpTime}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:green;' (click)='start()' name="play" item-center></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:red;' (click)='stop()' name="square"></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:blue;' (click)='reset()' name="refresh"></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:black;' (click)='done()' name="checkmark"></ion-icon>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding id='workoutContent'>  
  <ion-list>
    <div *ngFor='let workout of workouts' 
          style='margin-bottom: 10px; max-width: 500px; float:left;' 
          [style.border]='workout.done>=workout.goal ? "solid 5px green": "solid 5px white"' >
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/icon/{{workout.img}}.png" (error)='Common.defaultImg(workout)'/>
        </ion-thumbnail>
        <div>
          <h1>
            <strong>{{workout.name}}&nbsp;</strong>
            <small>{{workout.weight}} {{workout.weightUnit}}</small>
          </h1>
        </div>
        <div style='font-size:20px;'>{{workout.message}}</div>
        <div style='margin-left:20px; margin-top:10px;'>
          <p><strong style='font-size:30px;color:green;'>{{workout.done}}</strong> Done </p>
          <p><strong style='font-size:30px;color:red;'>{{workout.goal}}</strong> Goal </p>
          <p></p>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col col-4 *ngFor='let unit of workout.units; let i = index;'>
              <button block (click)='workoutClick(workout, unit)' ion-button style='font-size: 20px;'>
                +{{unit}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
