<ion-header>
  <ion-navbar>
    <ion-title>{{date | date:'EEE, MMM d, y'}}</ion-title>
  </ion-navbar>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div style='text-align:center;font-size: 50px;'>
          {{dpTime}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-2></ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:green;' (click)='start()' name="play" item-center></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:red;' (click)='stop()' name="square"></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:blue;' (click)='reset()' name="refresh"></ion-icon>
      </ion-col>
      <ion-col col-2 style='text-align:center; font-size: 30px;'>
        <ion-icon style='color:black;' (click)='done()' name="checkmark"></ion-icon>
      </ion-col>
      <ion-col col-2></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content padding id='workoutContent'>
  <div style='margin-left:20%; margin-right:20%;'>
    <button ion-button outline block (click)='addTemplate()'>
    Template
    </button>
  </div>
  <page-templateDetailComponent 
      [workouts]='workouts'
      [editable]='editable'
      [(dpTime)]='dpTime'>
  </page-templateDetailComponent>  
</ion-content>

<ion-fab right bottom *ngIf='!isStarted && !isTemplate'>
  <button ion-fab color="danger" (click)='editable=true' *ngIf='!editable'>
    Edit
  </button>
  <button ion-fab color="blue" (click)='addWorkout()' *ngIf='editable' style='margin-bottom:5px;'>
    <ion-icon name="add"></ion-icon>
  </button>
  <button ion-fab color="danger" (click)='editDone()' *ngIf='editable'>
    <ion-icon name="checkmark"></ion-icon>
  </button>
</ion-fab>
