  <ion-list style='text-align:center;'>
    <div *ngFor='let workout of workouts; let i = index;'
          style='text-align:center;'
          [style.display]='editable?"":"inline-block"'>
      <div  style='margin-bottom: 10px; display:inline-block;position:relative;'
            [style.maxWidth]='pageWidth+"px"'
            padding>
        <div *ngIf='isTemplate || editable' style='text-align:left;font-size:50px;'>
          <ion-icon name="arrow-dropup" (click)='itemUp(i)'></ion-icon> 
          <ion-icon name="arrow-dropdown" (click)='itemDown(i)'></ion-icon> 
          <div *ngIf='isTemplate || editable' style='font-size:40px;float:right; margin: 10px 10px 0px 0px'>
            <ion-icon name="close" (click)="deleteWorkout(i)" style='display:table-cell;z-index:1;'></ion-icon> 
          </div>
        </div>
        <div style='position:absolute;
                    font-weight:bold;
                    font-size:60px;
                    color: #12127b;
                    z-index:1;
                    margin-left:5px;
                    margin-bottom:5px;'>
          {{i+1}}
        </div>
        <div *ngIf='!isTemplate'
          style='font-weight: bold;text-align:center; font-size:30px;'
          [style.borderTop]='workout.done>=workout.goal? "solid 3px green" : "solid 3px red"'
          [style.color]='workout.done>=workout.goal? "green" : "red"'>
              {{workout.done>=workout.goal ? 'Completed' : 'Not Yet'}}
        </div>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/icon/{{workout.img}}.png" (error)='workout.img = "icon"'/>
            <div align='center' style='font-size:20px;'>{{workout.message}}</div>
          </ion-thumbnail>
          <div style='font-size:22px;white-space:normal;word-break:normal;font-weight:bold;'>
            {{workout.name}}&nbsp;
            <div>
              <span *ngIf='!editable' style='font-size:17px;display:table-cell;font-weight:normal;'>
                {{workout.weight}} {{workout.weightUnit}}&nbsp;
              </span>
              <ion-item *ngIf='editable && workout.weightUnit' style='width:50%;display:table-cell;'>
                <ion-input type="number" [(ngModel)]='workout.weight' style='width:50px;' required #weight='ngModel'></ion-input>
              </ion-item>
              <span *ngIf='editable && workout.weightUnit' style='display:table-cell;'>{{workout.weightUnit}}</span>
            </div>
          </div>
          <div style='margin-top:10px;'
              [align]='editable?"center":"right"'>
              <div *ngIf='!isTemplate'>
                <ion-icon name="remove" *ngIf='editable' (click)='workout.done=workout.done-5'></ion-icon>
                &nbsp;&nbsp;Done <strong style='font-size:30px;color:green;'>{{workout.done}}&nbsp;&nbsp;</strong>
                <ion-icon name="add" *ngIf='editable' (click)='workout.done=workout.done+5'></ion-icon>
              </div>
              <div>
                <ion-icon name="remove" *ngIf='editable' (click)='workout.goal=workout.goal-5'></ion-icon>
                &nbsp;&nbsp;Goal <strong style='font-size:30px;color:red;'>{{workout.goal}}&nbsp;&nbsp;</strong>
                <ion-icon name="add" *ngIf='editable' (click)='workout.goal=workout.goal+5'></ion-icon>
              </div>
          </div>
        </ion-item>
        <ion-grid  *ngIf='!editable'>
          <ion-row>
            <ion-col col-4 *ngFor='let unit of workout.units; let i = index;'>
              <button block ion-button outline item-left icon-left 
                (click)='workoutClick(workout, unit)'
                style='font-size: 20px;'>
                <div *ngIf='unit>=0'>+</div>
                {{unit}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card>
        <ion-grid *ngIf='editable'>
          <ion-row>
            <ion-col col-4 *ngFor='let unit of workout.units; let i=index; trackBy:customTrackBy'>
                <ion-item>
                  <ion-label floating>Unit</ion-label>
                  <ion-input required type="number" [(ngModel)]='workout.units[i]' required></ion-input>
                </ion-item></ion-col>
          </ion-row>
        </ion-grid>
        </ion-card>
      </div>
    </div>
  </ion-list>

