<ion-header>
  <ion-toolbar>
    <ion-title style='float:left;' padding>
      <ion-icon *ngIf='!isModal' name="menu" menuToggle></ion-icon>&nbsp;
      Workout Template
    </ion-title>
    <ion-icon *ngIf='isModal' name="close" (click)="dismiss()" style='float:right;' padding></ion-icon> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor='let template of templates'>
      <ion-item>
        <ion-card (click)='detailPage(template)'>
            <ion-card-header>
                {{template.TEMPLATE_NAME}}
            </ion-card-header>
            <ion-card-content>
                {{template.WORKOUT_NAME_CONCAT}}
            </ion-card-content>
        </ion-card>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" icon-left (click)='deleteTemplate(template)'>
            <ion-icon name="delete"></ion-icon>
            Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<ion-fab right bottom>
    <button ion-fab color="danger" (click)='presentModal()'>
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>
</ion-content>
