  <ion-list style='text-align:center;'>
    <div *ngFor='let workout of workouts; let i = index;'
          style='text-align:center;'
          [style.display]='editable?"":"inline-block"'>
      <div  style='margin-bottom: 10px; max-width: 350px;display:inline-block;'
            padding>
        <div *ngIf='isTemplate || editable' style='font-size:40px;' align='left'>
          <ion-icon name="arrow-dropup" (click)='itemUp(i)'></ion-icon> 
          <ion-icon name="arrow-dropdown" (click)='itemDown(i)'></ion-icon> 
        </div>
        <div *ngIf='!isTemplate'
          style='font-weight: bold;text-align:center; font-size:30px;'
          [style.borderTop]='workout.done>=workout.goal? "solid 3px green" : "solid 3px red"'
          [style.color]='workout.done>=workout.goal? "green" : "red"'>
              {{workout.done>=workout.goal ? 'Completed' : 'Not Yet'}}
        </div>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/icon/{{workout.img}}.png" (error)='workout.img = "icon"'/>
            <div align='center' style='font-size:20px;'>{{workout.message}}</div>
          </ion-thumbnail>
          <div>
            <strong style='font-size:22px;'>{{workout.name}}&nbsp;</strong>
            <span *ngIf='!editable'>
              {{workout.weight}} {{workout.weightUnit}}
            </span>
            <span *ngIf='editable && workout.weightUnit'>
              <input type="number" [(ngModel)]='workout.weight' style='width:50px;' required #weight='ngModel'
                [style.borderLeft]='!weight.valid? "solid 5px red": "solid 5px green"'/>{{workout.weightUnit}}
            </span>
            <ion-icon *ngIf='isTemplate || editable' name="close" (click)="deleteWorkout(i)" style='float:right;'></ion-icon> 
          </div>
          <div style='margin-top:10px;'
              [align]='editable?"center":"right"'>
              <div *ngIf='!isTemplate'>
                <ion-icon name="arrow-back" *ngIf='editable' (click)='workout.done=workout.done-5'></ion-icon>
                Done <strong style='font-size:30px;color:green;'>{{workout.done}}</strong>
                <ion-icon name="arrow-forward" *ngIf='editable' (click)='workout.done=workout.done+5'></ion-icon>
              </div>
              <div>
                <ion-icon name="arrow-back" *ngIf='editable' (click)='workout.goal=workout.goal-5'></ion-icon>
                Goal <strong style='font-size:30px;color:red;'>{{workout.goal}}</strong>
                <ion-icon name="arrow-forward" *ngIf='editable' (click)='workout.goal=workout.goal+5'></ion-icon>
              </div>
          </div>
        </ion-item>
        <ion-grid  *ngIf='!editable'>
          <ion-row>
            <ion-col col-4 *ngFor='let unit of workout.units; let i = index;'>
              <button block ion-button outline item-left icon-left 
                (click)='workoutClick(workout, unit)'
                style='font-size: 20px;'>
                <div *ngIf='unit>=0'>+</div>
                {{unit}}
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card>
        <ion-grid *ngIf='editable'>
          <ion-row>
            <ion-col col-4 *ngFor='let unit of workout.units; let i=index; trackBy:customTrackBy'>
                <ion-item>
                  <ion-label floating>Unit</ion-label>
                  <ion-input required type="number" [(ngModel)]='workout.units[i]' required></ion-input>
                </ion-item></ion-col>
          </ion-row>
        </ion-grid>
        </ion-card>
      </div>
    </div>
  </ion-list>

