<ion-header>
  <ion-navbar>
    <ion-title>
        <ion-icon name="menu" menuToggle></ion-icon>&nbsp;
        Workout
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-item>
    <ion-label>Search</ion-label>
    <ion-input type="text" (input)='powerFilter()' [(ngModel)]='searchVal'></ion-input>
</ion-item>
<ion-list>
    <div *ngFor='let workout of workouts'>
        <ion-item-sliding>
            <ion-item (click)='presentModal(workout)'>
                <ion-thumbnail item-left>
                    <img src="assets/icon/{{workout.IMG || workout.WORKOUT_ID}}.png" (error)='workout.IMG = "icon"'>
                </ion-thumbnail>
                <h2>{{workout.WORKOUT_NAME}}</h2>
                <p>GOAL:{{workout.GOAL}} UNITS:{{workout.UNITS}}</p>
                <p *ngIf='workout.WEIGHT_UNIT'>WEIGHT:{{workout.WEIGHT}} {{workout.WEIGHT_UNIT}}</p>
            </ion-item>
            <ion-item-options>
                <button ion-button color="danger" icon-left (click)='deleteItem(workout)'>
                    <ion-icon name="delete"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </div>
</ion-list>

<ion-fab right bottom>
    <button ion-fab color="danger" (click)='presentModal()'>
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>

</ion-content>
