<ion-header>
  <ion-toolbar>
    <ion-title padding style='float:left;padding-left:0px;'>
        <ion-icon *ngIf='!addFlag' name="menu" menuToggle></ion-icon>&nbsp;
        Workout
    </ion-title>
    <ion-icon *ngIf='addFlag' name="close" (click)="dismiss()" style='float:right;' padding></ion-icon> 
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
    <ion-item>
        <ion-label>Search</ion-label>
        <ion-input type="text" [(ngModel)]='searchVal'></ion-input>
    </ion-item>
</ion-card>
<ion-list>
    <div *ngFor='let workout of workouts | searchPipe:searchVal ; let i = index'>
        <ion-list-header color='light' *ngIf='i==0 || workout.GRP != workouts[i-1].GRP'>
            {{workout.GRP || 'Custom'}}
        </ion-list-header>
        <ion-item-sliding>
            <ion-item (click)='presentModal(workout)'>
                <ion-thumbnail item-left>
                    <img src="assets/icon/{{workout.IMG || workout.WORKOUT_ID}}.png" (error)='workout.IMG = "icon"'>
                </ion-thumbnail>
                <div [innerHTML]='workout.dp || workout.WORKOUT_NAME'></div>
                <p>GOAL:{{workout.GOAL}} UNITS:{{workout.UNITS}}</p>
                <p *ngIf='workout.WEIGHT_UNIT'>WEIGHT:{{workout.WEIGHT}} {{workout.WEIGHT_UNIT}}</p>
            </ion-item>
            <ion-item-options *ngIf='!addFlag'>
                <button ion-button color="danger" icon-left (click)='deleteItem(workout)'>
                    <ion-icon name="delete"></ion-icon>
                    Delete
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </div>
</ion-list>

<ion-fab right bottom *ngIf='!addFlag'>
    <button ion-fab color="danger" (click)='presentModal()'>
        <ion-icon name="add"></ion-icon>
    </button>
</ion-fab>

</ion-content>
