<ion-header>
  <ion-navbar>
    <ion-title>
    <ion-icon name="menu" menuToggle></ion-icon>&nbsp;
      Calendar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class='grid-basic-page'>
    <style>
        .tableHead td{
            width:14%;
            float:left;
            border-top:solid 1px black;
            background-color: darkgrey
        }

        .tableBody td{
            width:14%;
            float:left;
            border-top:solid 1px black;
            min-height: 50px;
        }
    </style>
    <ion-row align-items-center>
        <ion-col>
            <div>
                <ion-icon style='font-size:50px;float:left;margin-left:20%;' (click)='prev(curDate)' name="arrow-dropleft" item-center></ion-icon>
            </div>
        </ion-col>
        <ion-col>
            <div style='text-align:center;font-size:40px;'>
                <strong>
                    {{curDate.getFullYear()}}.{{curDate.getMonth()+1}}
                </strong>
            </div>
        </ion-col>
        <ion-col>
            <div>
                <ion-icon style='font-size:50px;float:right;margin-right:20%;' (click)='next(curDate)' name="arrow-dropright" item-center></ion-icon>
            </div>
        </ion-col>
    </ion-row>
    <div>
    </div>
    <table style='width:100%;margin-left:1%;'>
        <tr class="tableHead">
            <td>Sun</td>
            <td>Mon</td>
            <td>Tue</td>
            <td>Wed</td>
            <td>Thu</td>
            <td>Fri</td>
            <td>Sat</td>
        </tr>
        <tr *ngFor='let week of calendar' class='tableBody'>
            <td *ngFor='let data of week'
                [style.color]='data.date.getMonth() != curDate.getMonth() ? "grey" : "black"'>
                <strong>{{data.date | date:'dd'}}</strong>
                <div 
                    style='overflow: hidden;white-space: nowrap;'
                    *ngFor='let workout of data.workouts'
                    [style.backgroundColor]='workout.done>=workout.goal?"green":"grey"'
                    >
                    {{workout.done}}
                    &nbsp;
                    {{workout.name}}
                </div>
            </td>
        </tr>
    </table>
</ion-content>
